@import "tailwindcss";




@layer utilities{
  .loop{
    font-family:'Playfair Display', serif;
  }

  .view-all-btn:hover{
    color: #d4af37a7;
  }

   .font-nav{
    font-family: 'Times New Roman', Times, serif;
   }
   .font-inter{
         font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
         font-weight:500;
   }
   .popins{
     font-family: 'Poppins', sans-serif;
   }
   .tree {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
    } 
    .add-to-cart-hover{
     background-color: #d4af37a7;
     color: black;
     font-weight:400;
     transition: all 0.7s ease-in-out;
    }
    .add-to-cart:hover{
      background-color: #d4af37d1;
      color: black;
      font-weight:400;
      transition: all 0.35s ease-in-out;

    }
    .cart-btn:hover{
      background-color: #d4af37d1;
      color: black;
      font-weight:400;
      transition: all 0.35s ease-in-out;

    }
    .font-tree{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 300;
   }
   .inc-dec:hover{
    background-color: white;
    color: black;

   }
   .italic{
    font-family: cursive;
   }
   .show{
      display: block;
   }
   .hide{
      display: none;
   }
   .footer-links a:hover{
    color:#f0d9a2cd;
  }
  .ham-nav a:hover{
     color:#f0d9a2cd;

   }
   .submit:hover{
    background-color:#d4af37b1;
    color:black;
    

   }
   .hero-img{
    transition: opacity 1s ease-in-out;
   }
   .cross-forward{
      transform: translateX(0.35rem);
      transition: transform 0.2s linear;
   }
   .btn-transform:hover{
      background-color:#d4af37a7;
      color: black;
      transition:all 0.7s ease-in-out;
    }
    .headlinetxt{
     animation: headlinebanner 11s linear infinite;
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.opacity-transform{
  animation: opacity-transform 1.5s ease-in-out ;
}
.animate-ham{
  animation:animate-ham 0.3s linear ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}
.product-collection-item:hover img,
.product-collection-item:focus-within img {
  transform: scale(1.05);
  filter: brightness(1.02);
  transition: all 0.8s ease-in-out;
}
  
 .headlinetxt2{
  display: inline-flex;
  animation: headline2 16s linear infinite;
  scroll-behavior: smooth;
}
.popins{
 font-family: "Poppins", sans-serif;
}
}
.product-collection img{
  max-width: 110%;
  object-fit:cover;
  min-height:38vh;
  object-position: center left;
  cursor:pointer;
}
.order-confirm{
  transition: all 1.5s ease-in;

}
.product-btn:hover{
  transform: scale(1.07);
  background-color:#d4af37a7;
  color: black;
  transition:all 0.7s ease-in-out;
}
.product-btn{
  font-weight:500;
  padding: 0.95vh 1.07vw;
  border-radius:6px;
  z-index:100;
  letter-spacing:0.5s;

  font-size:clamp(0.80rem,1.3vw,3rem);
}
.order-sum-child{

  transition: max-height 0.5s ease;
}

.order-trans{
     opacity: 1;
     transition:all 0.5s ease-in;
     max-height:50vh;
    
}


     /* Animations below  */
     @keyframes headline2 {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }

}

   @keyframes headlinebanner {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes animate-ham {
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0%);

  }
  
  
}

@layer base{
    body{
        background-color:rgb(15,11,7);
        color: white;
        overflow-x: hidden;
    }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
}